@charset "UTF-8";
/* CSS Document */

@font-face
{
	font-family: Monument-bold;
	src: url(../font/MonumentExtended-Ultrabold.otf);
	
}
@font-face
{
	font-family: Monument-regular;
	src: url(../font/MonumentExtended-Regular.otf);
	
}
body
{
	margin: 0;
	padding: 0;
}
.wrapper
{
	width: 1920;
	height: 1080;
	background-color: #F680FF;
	background: url(../images/home.png);

}

#bm {
  width: 100%;
  height: 100%;
 position: relative;
	
}

.si-show
{
	width: auto;
	height: auto;
	position: absolute;
	z-index: 1000;
	margin-left: 670px;
	margin-top: 270px;
	
}
.si-show:hover
{
	   -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}