@charset "utf-8";
/* CSS Document */



/*wow*/
 .wow:first-child {
      visibility: hidden;
    }
@font-face
{
	font-family: Monument-regular;
	src: url(../font/MonumentExtended-Regular.otf);
}

@font-face
{
	font-family: Monument-bold;
	src: url(../font/MonumentExtended-Ultrabold.otf);
}
body, html
{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #7f5cff;
	
	
}

#main
{
	width: 100%;
	height: 100%;
	position: fixed;
	
	z-index: 100;
	
}

#fullpage
{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -1000;
	
}

.hinh
{
	width: 100%;
	height: 100%;
	background: url(../images/about2-08.png);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	position: absolute;
	z-index: -150;
}


.about-text
{
	width: 60%;
	height: 20%;
	font-family: Monument-regular;
	font-size: 180%;
	text-align: center;
	margin-left: 20%;
	line-height: 190%;
	color: #7F5CFF;
	transform: rotate(14deg);
	position: absolute;
	margin-top: 21%;
	
	
}

.faqs-text
{
	width: 100%;
	height: 70%;
	display: block;
	position: fixed;
	
	font-family: Monument-bold;
	font-size: 220px;
	top: 17%;
	text-align: center;
	line-height: 200px;
	color: #ffe600;
	z-index: 10;
}

.faqs-text-shadow
{
	width: 100%;
	height: 70%;
	
	position: fixed;
	display: block;
	font-family: Monument-bold;
	font-size: 220px;
	top: 18%;
	left: 1%;
	text-align: center;
	line-height: 200px;
	color: #ffe600;
	z-index: 10;
	-webkit-text-stroke: 2px  #ffe600;
 -webkit-text-fill-color: transparent;
}

.s1
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 30%;
	z-index: 100;
	
}

.s2
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 30%;
	z-index: 100;
}

.s3
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 30%;
	z-index: 100;
	
}

.faqs-box
{
	width: 40%;
	height: 8%;
	background-color: #7F5CFF;
	margin-top: 3%;
	font-family: Monument-bold;
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	color: #ffe600; 
	letter-spacing: 1.5px;
	z-index: 1000;
	transition:all 0.3s ease;
	transform: rotate(-1deg);
}

.faqs-box:hover
{
        -webkit-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        transform: rotate(1deg);
}


.faqs-box-02
{
	width: 40%;
	height: 8%;
	background-color: #7F5CFF;
	margin-top: 3%;
	font-family: Monument-bold;
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	color: #ffe600;
	letter-spacing: 1.5px;
	transform: rotate(1deg);
	z-index: 1000;
	transition:all 0.3s ease;
}


.phone
{
	width: 40%;
	height: 15%;
	position: absolute;
	top: 17%;
	left: 29%;
	z-index: 1000;
	
	
}

.phone img
{
	transition:all 0.1s ease;
	opacity: 1;
}
 
.phone:hover img
{
	 opacity: 0;
}

.location
{
	width: 55%;
	height: 15%;
	top: 40%;
	left: 22%;
	position: absolute;
	z-index: 1000;
	
}

.location img
{
	transition:all 0.1s ease;
	opacity: 1;
}
 
.location:hover img
{
	 opacity: 0;
}

.email
{
	width: 45%;
	height: 15%;
	top: 64%;
	left: 26%;
	position: absolute;
	z-index: 1000;
	
}

.email img
{
	transition:all 0.1s ease;
	opacity: 1;
}
 
.email:hover img
{
	 opacity: 0;
}

.phone-square
{
	width: 38%;
	height: 13%;
	position: absolute;
	top: 20%;
	left: 30%;
	z-index: 900;
}

.location-square
{
	width: 38%;
	height: 13%;
	top: 42%;
	left: 30%;
	position: absolute;
	z-index: 900;
	
}

.email-square
{
	width: 38%;
	height: 13%;
	top: 67%;
	left: 30%;
	position: absolute;
	z-index: 900;
	
	
}


